validate/schema/standards.iso.org/iso/19115/-3/gcx/1.0/extendedTypes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0" xmlns:gcx="http://standards.iso.org/iso/19115/-3/gcx/1.0" targetNamespace="http://standards.iso.org/iso/19115/-3/gcx/1.0" elementFormDefault="qualified" version="20140711">
	
	<xs:annotation>
		<xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 03-14-2005 12:00:20 ====== Handcrafted
		20130614 SMR updates: 
		1. schema locations for gco and xlink. 
		2. change namespace prefix from gmx to gcx, to use for ISO19115-3.  
		3. change attribute group for gcx:anchor from xlink:simpleLink (old) to xlink:simpleAttrs (new). 
		
		20130327 - Ted changed targetNamespace and gcx namespace to http://www.isotc211.org/2005/gcx/1.0/2013-03-28
		20130624 SMR update namespace version date
		20140729 SMR update namespace for 07-11 build. The schema generated by ShapeChange from the UML does not work for gcx namespace.
		</xs:documentation>
	</xs:annotation>
	
  
  
  <xs:import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0" schemaLocation="../../../../19115/-3/gco/1.0/gco.xsd"/>
	<xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="../../../../../../www.w3.org/1999/xlink.xsd"/>
	
	
	
	
	
	
	
	
	<xs:complexType name="FileName_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="src" type="xs:anyURI"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:element name="FileName" type="gcx:FileName_Type" substitutionGroup="gco:CharacterString"/>
	
	<xs:complexType name="FileName_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gcx:FileName"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
	
	
	
	<xs:complexType name="MimeFileType_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="type" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:element name="MimeFileType" type="gcx:MimeFileType_Type" substitutionGroup="gco:CharacterString"/>
	
	<xs:complexType name="MimeFileType_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gcx:MimeFileType"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
	
	
	
	<xs:complexType name="Anchor_Type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				
				
			  
				<xs:attributeGroup ref="xlink:simpleAttrs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:element name="Anchor" type="gcx:Anchor_Type" substitutionGroup="gco:CharacterString"/>
	
	<xs:complexType name="Anchor_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gcx:Anchor"/>
		</xs:sequence>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
</xs:schema>